# Create your Data
## using numpy to generate even number list

In [10]:
evens=[2,4,6,8,10]
evens = range(2, 12, 2)

In [3]:
import numpy as np

In [4]:
np.array(evens)

array([  2,   4,   6,   8,  10,  12,  14,  16,  18,  20,  22,  24,  26,
        28,  30,  32,  34,  36,  38,  40,  42,  44,  46,  48,  50,  52,
        54,  56,  58,  60,  62,  64,  66,  68,  70,  72,  74,  76,  78,
        80,  82,  84,  86,  88,  90,  92,  94,  96,  98, 100])

## Using Pandas

In [5]:
import pandas as pd

In [12]:
#creates a panda dataframe
evens = [2,4,6,8,10]
pd.DataFrame(evens)

    0
0   2
1   4
2   6
3   8
4  10

## Reading Data from datasources

In [14]:
#the python way
evens = []
with open('../datasets/matplotlib101/evens.txt') as f:
    for line in f.readlines():
        evens.append(line.split()[1])

evens

['2', '4', '6', '8', '10', '12']

In [15]:
#one liner 
evens = [int(x.split()[1]) for x in open('../datasets/matplotlib101/evens.txt').readlines()]
evens

[2, 4, 6, 8, 10, 12]

In [16]:
#using numpy 
import numpy as np
np.loadtxt('../datasets/matplotlib101/evens.txt',
           usecols=1,
           dtype=np.int32)

array([ 2,  4,  6,  8, 10, 12], dtype=int32)

In [19]:
#pandas way 
import pandas as pd
df = pd.read_csv('../datasets/matplotlib101/evens.txt', sep='\t')
df

    a 2
0   a 4
1   a 6
2   a 8
3  a 10
4  a 12