In [6]:
import pandas as pd
file_path = "../../datasets/kaggle/2021_olympics_tokio/Medals.xlsx"
medal_count = pd.read_excel(file_path)
medal_count

/opt/homebrew/Caskroom/miniforge/base/envs/tensorflow/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Rank,Team/NOC,Gold,Silver,Bronze,Total,Rank by Total
0,1,United States of America,39,41,33,113,1
1,2,People's Republic of China,38,32,18,88,2
2,3,Japan,27,14,17,58,5
3,4,Great Britain,22,21,22,65,4
4,5,ROC,20,28,23,71,3
...,...,...,...,...,...,...,...
88,86,Ghana,0,0,1,1,77
89,86,Grenada,0,0,1,1,77
90,86,Kuwait,0,0,1,1,77
91,86,Republic of Moldova,0,0,1,1,77
92,86,Syrian Arab Republic,0,0,1,1,77

# Estimates of location

In [8]:
# Mean
medal_count["Total"].mean()

11.612903225806452

In [14]:
import numpy as np
# Weighted Mean
np.average(medal_count["Gold"], weights=medal_count["Total"])

14.743518518518519

In [18]:
# Trimmed Mean
from scipy.stats import trim_mean
trim_mean(medal_count["Gold"], 0.1)

1.96

In [20]:
# Median
medal_count["Total"].median()

4.0

In [22]:
# Weighted Median


# Percentiles
q3 = np.percentile(medal_count["Total"], 75)
q3

11.0

# Estimates of Variability

In [24]:
# Variance
from statistics import variance
variance(medal_count["Gold"])

49.315100514259

In [26]:
# standard deviation
from statistics import stdev 
stdev(medal_count["Gold"])

7.022471111671376

In [30]:
# Mean absolute Deviation
from numpy import median, absolute 
median(absolute(medal_count["Gold"] - median(medal_count["Gold"])))

1.0

In [ ]:
# Median absolute deviation from the median